<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>webcam_api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HttpService</display-name>
    <servlet-name>HttpService</servlet-name>
    <servlet-class>com.ubot.api.HttpService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpService</servlet-name>
    <url-pattern>/getAD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileService</display-name>
    <servlet-name>FileService</servlet-name>
    <servlet-class>com.ubot.api.FileService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileService</servlet-name>
    <url-pattern>/File</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerService</display-name>
    <servlet-name>CustomerService</servlet-name>
    <servlet-class>com.ubot.api.CustomerService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerService</servlet-name>
    <url-pattern>/Customer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogService</display-name>
    <servlet-name>LogService</servlet-name>
    <servlet-class>com.ubot.api.LogService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogService</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
</web-app>