<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>webcam_api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>CONTEXTINIT</param-name>
    <param-value>/contextInit</param-value>
  </context-param>
  <listener>
    <listener-class>com.ubot.api.ContextInitListener</listener-class>
  </listener>
  <filter>
    <display-name>FileFilter</display-name>
    <filter-name>FileFilter</filter-name>
    <filter-class>com.ubot.utils.FileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileFilter</filter-name>
    <url-pattern>/uploadTxt</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PicFilter</display-name>
    <filter-name>PicFilter</filter-name>
    <filter-class>com.ubot.utils.PicFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PicFilter</filter-name>
    <url-pattern>/fileuploadservlet</url-pattern>
  </filter-mapping>
</web-app>